{
    "parser": "babel-eslint",
    "extends": ["eslint:recommended", "plugin:react/recommended"],
    "parserOptions": {
      "ecmaVersion": 8,
      "sourceType": "module",
      "ecmaFeatures": {
        "jsx": true
      }
    },
    "plugins": ["react", "import"],
    "env": {
      "shared-node-browser": true,
      "es6": true
    },
    "overrides": [
      {
        "files": ["**/*.test.js"],
        "env": {
          "jest": true
        }
      }
    ],
    "rules": {
      "no-console": "off",
      "semi": "error",
      "semi-spacing": "error",
      "semi-style": "error",
      "quotes": ["error", "single", { "avoidEscape": true }],
      "comma-spacing": "error",
      "space-infix-ops": "error",
      "key-spacing": "error",
      "space-unary-ops": "off",
      "prefer-arrow-callback": "error",
      "comma-dangle": [
        "error",
        {
          "arrays": "always-multiline",
          "objects": "always-multiline",
          "imports": "always-multiline",
          "exports": "always-multiline",
          "functions": "always-multiline"
        }
      ],
      "array-bracket-spacing": "error",
      "prefer-const": ["error", { "destructuring": "all" }],
      "quote-props": "off",
      "no-useless-concat": "error",
      "eol-last": "error",
      "no-multiple-empty-lines": ["error", { "max": 2, "maxBOF": 0, "maxEOF": 0 }],
      "no-case-declarations": "error",
      "no-fallthrough": "error",
      "no-unused-vars": ["error", { "args": "none" }],
      "arrow-parens": "off",
      "eqeqeq": "error",
      "no-var": "error",
      "space-before-blocks": "error",
      "keyword-spacing": "error",
      "arrow-spacing": "error",
      "spaced-comment": ["error", "always", { "block": { "balanced": true } }],
      "camelcase": "error",
      "no-trailing-spaces": ["error", { "ignoreComments": false }],
      "no-restricted-syntax": ["error", "ForInStatement"],
      "one-var": ["error", "never"],
      "brace-style": "error",
      "curly": "error",
      "no-else-return": "error",
      "space-in-parens": "error",
      "space-before-function-paren": "off",
      "array-callback-return": "error",
      "no-multi-spaces": "error",
      "no-shadow-restricted-names": "error",
      "no-shadow": "error",
      "no-use-before-define": "error",
      "new-cap": ["error", { "capIsNewExceptions": ["sendgrid.API"] }],
      "jsx-quotes": "error",
      "react/jsx-curly-spacing": "error",
      "react/jsx-equals-spacing": "error",
      "react/jsx-tag-spacing": "error",
      "import/no-unresolved": "error",
      "import/first": "error",
      "import/no-duplicates": "error",
      "import/extensions": "error",
      "import/order": ["error", { "newlines-between": "never" }],
      "import/newline-after-import": "error"
    }
  }
  